@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  height: 100vh;
  background-image: url(./assets/code_bg.jpg);
  background-size: cover;
}
body, .btn-col, .container-fluid, .row {
  display: flex;
}
h1 {
  text-align: center;
  color: #e0d8b9;
  font-family: 'Raleway', sans-serif;
  font-size: 5.2rem;
}

.btn-col {
  justify-content: center;
}

.container-fluid, .row{
  align-items: center;
  justify-content: center;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  background-color: #3795b9;
  border-color: #2b7692;
}

body.load {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: none;
}
.load form {
  display: contents;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
}
.load input {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  height: 35px;
}

.load input:focus{
  outline: none;
  background-color: rgb(236, 205, 210);

}

.load ol.input-container{
  margin: auto;
}
.load .input-tile {
  margin: 0.3rem 0;
}