
	<div class="limiter">
		<div class="col-xs-12 home-div">
		<div class="reheight-select-key-title"></div>
		<p class="no-ques col-xs-12">number of questions</p>
		<select class="no-ques-sel col-xs-4" ng-model="enquiries" ng-options="num for num in noQuestion">
		<option value="num"></option>
</select>
			<label class="col-xs-12">Select A Key</label>
			<div class="reheight-selectKey"></div>
		   	<div class="col-xs-12 select-key-label">
		   		<h3 class="col-xs-12">{{selectedKey}}</h3>
		   	</div>
			<div class="reheight-button-box-home"></div>
			<ul class="col-xs-12 button-box home">
				<li class="col-xs-3 select-key" ng-model="myKeys" ng-repeat="key in keys">
					<button class="col-xs-12 select-key-btn" ng-click="global.myAction = true; selectKey(key)">{{key.keyName}}</button>
				</li>
				<li class="col-xs-3 select-key">
				<button ng-init="global.myAction = false" ng-show="global.myAction" class="col-xs-12 start-btn pulse-btn" ng-click="keyTest()">start</button></li>
			</ul>
		</div>
	</div>