<div class="col-xs-4">
    <select ng-model="myKeys" ng-options="key as key.keyName for key in keys"></select>
      <h3>Major</h3>
    </div>
    <div class="col-xs-4">
      <p>right or wrong</p>
    </div>
    <div class="col-xs-4">
      <span>{{myKeys.keyName}}</span>
    </div>
  </div>
</div>
 <div class="fluid-container button-box">
  <div class="row">
    <div class="col-xs-8">
      <ul class="col-xs-12">
        <li ng-repeat="note in noteNames" class="col-xs-4 note-btn"><button class="col-xs-12">{{note}}</button></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="col-xs-12">
        <li ng-repeat="mod in accidentals" ng-click="mod.state = true; testAccidentals(mod)" class="col-xs-12 acci-btn"><button class="col-xs-12">{{mod.sym}}</button></li>

      </ul>
    </div>